
<section class="mt-5 ml-3 mr-3">
  <div class="pt-5">
     <h2 class="text-center">Add Product</h2>
  <div class="card container pt-4 pb-4">
  <form action="/admin/addUser" method="POST">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">User Name</label>
  <input type="name" class="form-control" id="exampleFormControlInput1" name="username" placeholder="User name">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
  <input type="number" class="form-control" id="exampleFormControlInput1" name="phone" placeholder="Phone Number">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input type="password" class="form-control" id="exampleFormControlInput1" name="password" placeholder="password">
</div>
{{!-- <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Confirm password">
</div> --}}
<div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Add User</button>
  </div>
  </form>
</div>
</div>

</section>